.buttons{
    max-width:300px;
    margin-inline:auto;
    padding-bottom: 20px;
}

.buttons button{
    padding: 5px 10px;
    background-color: transparent;
    margin-inline: 10px;
}
.Cancle{
    color: red;
    background-color: rgb(228, 228, 228);
    outline: 1px solid red;
    border: none;
}

.Contnue{
    color: green;
    background-color: rgb(228, 228, 228);
    outline: 1px solid green;
    border: none;
}
